<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />

    <table>
        <thead>
        <tr>
            <th> ID </th>
            <th> Visitor </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${visitors.empty}">
            <td colspan="2"> No named visitors yet! </td>
        </tr>
        <tr th:each="visitor : ${visitors}">
            <td><span th:text="${visitor.id}"> ID </span></td>
            <td><span th:text="${visitor.name}"> Name </span></td>
        </tr>
        </tbody>
    </table>
</body>
</html>